.btn{
    background-color: #ccc;
    border: none;
    border-radius: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 125px;
    height: 40px;
    font-size: 16px;
    transition: all 0.2s ease;
    cursor: pointer;
    &.primary{
        background-color: #D1A969;
        color: #6D4300;
        font-weight: 500;
        &:hover{
            background-color: #ffd38a;
        }
    }
    &.second{
        background-color: #E32C3D;
        color: #fff;
    }
    &.small{
        max-width: 120px;
        height: 40px;
    }
}
.icon{
    padding-left: 5px;
    img{
        width: 20px;
        height: auto;
        display: block;
    }
}
@media (max-width: 767px){
    .btn{
        &.primary{
            text-indent: -500px;
            max-width: 40px;
        }
    }
    .icon{
        padding-left: 0;
    }
}