.select{
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    color: #111827;
    display: block;
    padding: 5px 30px 5px 10px;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
    background-position: right .1rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    width: 100%;
    min-width: 200px;
    max-width: 250px;
    height: 40px;
    outline: none;
}
.selected{
    margin-right: 10px;
}
.input{
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    border-radius: 12px;
    color: #111827;
    height: 40px;
    padding: 5px 30px 5px 10px;
    width: 100%;
}
.bar{
    position: relative;
    flex: 1;
}
.dropdown{
    background-color: #fff;
    position: absolute;
    top: 100%;
    width: 100%;
    border-radius: 10px;
    z-index: 10;
    box-shadow: 0px 3px 5px 0 #b1b1b1;
    overflow: hidden;
}
.item{
    padding: 5px 10px;
    cursor: pointer;
    &:hover{
        background-color: #eee;
    }
}
.label{
    font-weight: 600;
}
@media (max-width: 992px){
    .select{
        min-width: 170px;
        max-width: 200px;
    }
}
@media (max-width: 767px){
    .selected{
        &:first-child{
            margin-right: 10px;
            width: calc(50% - 10px);
        }
        width: 50%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .select{
        min-width: auto;
        max-width: 100%;
    }
}