.list{
    margin-top: 20px;
}
.label{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #393939;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
    &.active{
        color: #1C4BA0;
    }
    &:hover{
        color: red;
        .more{
            background-color: red;
        }
    }
}
.title{
    width: auto;
}
.more{
    text-transform: none;
    font-size: 11px;
    display: inline-block;
    margin-left: 10px;
    font-weight: 400;
    transition: all 0.2s ease;
    padding: 3px 10px;
    border-radius: 14px;
    background-color: #1c4ba0;
    color: #fff;
    margin-left: 10px;
}
.head{
    display: flex;
    text-align: center;
    color: #1C4BA0;
    font-weight: 600;
    font-size: 18px;
}
.col{
    padding: 15px 10px;
    background-color: #B6D6FF;
}
.col__1{
    width: 50%;
    border-bottom: 1px solid #1C4BA0;
    border-right: 1px solid #1C4BA0;
    border-left: 1px solid #1C4BA0;
    border-top: 1px solid #1C4BA0;
    border-top-left-radius: 10px;
}
.col__2{
    width: 20%;
    border-bottom: 1px solid #1C4BA0;
    border-right: 1px solid #1C4BA0;
    border-top: 1px solid #1C4BA0;
}
.col__3{
    width: 20%;
    border-bottom: 1px solid #1C4BA0;
    border-right: 1px solid #1C4BA0;
    border-top: 1px solid #1C4BA0;
}
.col__4{
    width: 10%;
    max-width: 100px;
    border-bottom: 1px solid #1C4BA0;
    border-right: 1px solid #1C4BA0;
    border-top: 1px solid #1C4BA0;
    border-top-right-radius: 10px;
}
@media (max-width: 767px){
    .head{
        display: none;
    }
    .title{
        width: 70%;
    }
    .label{
        border: 1px solid #9BBBE4;
        border-radius: 12px;
        padding: 10px;
        font-size: 18px;
        justify-content: space-between;
    }
    .more{
        margin-left: 0;
    }
}
// 
.pagination{
    list-style-type: none;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px 2px #ebecef;
    border-radius: 6px;
    padding: 0;
    width: fit-content;
    margin: 0 auto;
}
.control{
    padding: 10px;
    min-width: 40px;
    margin: 0;
    border: 1px solid #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background-color: #fff;
    &.active{
        background-color: #dfdfdf;
    }
}
.back{
    border-radius: 6px 0 0 6px;
}
.next{
    border-radius: 0 6px 6px 0;
}